// Custom Sass stylesheets
@import 'variables';
@import 'FormPage1';
@import 'FormPage2';

.App {
    background-color: $background-color;
}

.logoutContainer {
    display: flex;
    flex-direction: column;
    // spacing below the nav
    margin-top: 8em;
    .container {
        width: 100%;
        //padding-right: 15px;
        //padding-left: 15px;
        margin-left: auto;
        max-width: $page1-content-width;
    }
}

.loginContainer {
    display: flex;
    flex-direction: column;
    // spacing below the nav
    margin-top: 8em;

    .text-box {
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .loginLink {
        font-size: 2em;
    }

}

html {background-color: $background-color;}