$page1-content-width: 500px;

.formPage1 {

    // used for the footer
    min-height: 80vh;
    // spacing below the nav
    margin-top: 5em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color;

    .formPage1Content {
        flex: 1;
    }

    .text-box {
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .container {
        width: 100%;
        //padding-right: 15px;
        //padding-left: 15px;
        margin-left: auto;
        max-width: $page1-content-width;
        color: $instruction-text-color;
    }

    .singleHorizontalFormField {
        display: flex;
        margin-top: 3em;
        width: 140%;
        margin-left: -25%;
        .labelText {
            float: left;
            width: 30%;
            color: $instruction-text-color;
        }
        input {
            width: 70%;
            margin-left: 2%;
            background-color: $playlist-name-background-color;
        }
    }

    .songSearchContainer {
        width: 100%;
        margin-top: 2em;
        .songSearchBar {
            width: 100%;
        }
        .songSearchResults {
            width: 100%;
        }
        .listFetchedSongContainer {
            width: 100%;
            margin-top: 4px;
            margin-bottom: 4px;
            border-bottom: 1px solid orange;
        }
        .songSearchList {
            // border: 1px solid #D9D9D9;
            background-color: $fetched-songs-background-color;
        }
    }

    .baseSongContainer {
        margin-top: 1em;
        width: 100%;
        ul {
            padding-left: 0px;
        }
        .baseSongListContainer {
            width: 100%;
            .songRankContainer {
                display: flex;
                flex-direction: row;
                background-color: $base-songs-background-color;
                .songRank {
                    height: auto;
                    border-radius: 0px;
                    background-color: $base-songs-background-color;

                    div {
                        span {
                            height: 50%;
                        }
                        input {
                            background-color: $base-songs-background-color;
                        }
                    }
                }
            }
            .songName {
                width: 100%;
                background-color: $base-songs-background-color;
                // font-size: 1em;
                // box-sizing: border-box;
                // align-items: center;
                // font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                // font-weight: 400;
                // line-height: 1.1876em;                
                div:first-child {
                    border-radius: 0px;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }
            .songOptions {
                display: flex;
                flex-flow: row-reverse wrap;
                border-top: 1px solid;
                background-color: $base-songs-background-color;
            }
        }
    }
}